* {
	font-family: 'Microsoft Yahei', 'Sim Sun', Verdana, Arial, Sans-serif;
}

ul, p {
	line-height: 1.6em;
}

h1 img {
	line-height: 20px;
	border: 2px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

h2 small {
	margin-left: 1em;
	font-size: 0.75em;
	color: #999999;
}

h3 {
	font-size: 16px;
	margin: 1em 0;
}

.footer {
	padding: 5px 0;
	clear:both;
	color:#666;
}

.footer p {
	font-weight: normal;
	font-size: .9em;
	margin: .5em 15px;
}

.footer p.version {
	font-weight: bold;
}

ul {
	margin: 0;
	padding: 0;
	padding-left: 1em;
	padding-bottom: 1em;
}

.links img {
	width: auto;
	height: 48px;
}

.links a {
	text-decoration: none;
	margin-right: 1em;
}

.home .ui-content {
	margin: 0;
	background: #e5e5e5 url(../img/background.png) top center repeat-x;
}

.home .ui-content .version {
	display: block;
	position: absolute;
	width: 96px;
	border: solid #fff;
	border-width: 2px 1px;
	padding: .25em 2.25em;
	margin: 0 15px 0 0;
	right: 0;
	top: -8px;
	background: #f7cf57;
	color: #000;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	z-index: 9;
	-webkit-transform: rotate(45deg) translate(4.8em,-1em);
	-moz-transform: rotate(45deg) translate(4.8em,-1em);
	-ms-transform: rotate(45deg) translate(4.8em,-1em);
	-o-transform: rotate(45deg) translate(4.8em,-1em);
	transform: rotate(45deg);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.40);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.40);
	-o-box-shadow: 0 0 6px rgba(0,0,0,.40);
	box-shadow: 0 0 6px rgba(0,0,0,.40);
}

.home .ui-content .version b {
	color: #a21412;
	font-weight: bold;
}

.home #contactme {
	position: absolute;
	top: 188px;
	right: 1em;
	width: 40px;
}

.ui-mobile #homeheader {
	padding: 40px 10px 0;
	text-align: center;
	margin: 0 auto;
}

.ui-mobile #homeheader h1 {
	margin: 0 0 ;
}

.ui-mobile #homeheader p {
	margin: .3em 0 0;
	font-size: 0.9em;
	line-height: 1.6em;
	font-weight: bold;
	color: #666;
}

p.intro {
	line-height: 1.6em;
	border-top: 1px solid #75ae18;
	border-bottom: 0;
	background: none;
	margin: 1em 0;
	padding: 1em 1em 0;
	text-indent: 2em;
}

p.intro strong {
	color:  #558e08;
}

.label,.badge{font-size:1em;font-weight:bold;color:#ffffff;vertical-align:baseline;white-space:nowrap;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#999999;}
.label{padding:1px 4px 2px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.badge{padding:1px 9px 2px;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;}
a.label:hover,a.badge:hover{color:#ffffff;text-decoration:none;cursor:pointer;}
.label-important,.badge-important{background-color:#b94a48;}
.label-important[href],.badge-important[href]{background-color:#953b39;}
.label-warning,.badge-warning{background-color:#f89406;}
.label-warning[href],.badge-warning[href]{background-color:#c67605;}
.label-success,.badge-success{background-color:#468847;}
.label-success[href],.badge-success[href]{background-color:#356635;}
.label-info,.badge-info{background-color:#3a87ad;}
.label-info[href],.badge-info[href]{background-color:#2d6987;}
.label-inverse,.badge-inverse{background-color:#333333;}
.label-inverse[href],.badge-inverse[href]{background-color:#1a1a1a;}
